* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #003049;
  width: 100%;
  min-height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main3 {
  position: relative;
  left: 30px;
}
img {
  width: 250px;
}
.succsse {
  text-align: center;
}
.succsse p {
  font-size: 30px;
  font-weight: bold;
}
.succ {
  position: relative;
  top: 230px;
  bottom: 5px;
}

.succ p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.sele {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border: 1.2px solid gray;
  border-radius: 8px;
}
.sele option {
  color: black;
  font-size: 15px;
}
label {
  font-size: 17px;
  margin-top: 10px;
  color: #fff;
}
.label1 {
  font-size: 17px;
  position: relative;
  top: 5px;
  color: #fff;
}
.click-button {
  position: relative;
  left: 22%;
  background-color: red;
  color: white;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 20px;
}
input {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  padding: 10px;
}
p {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 345px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
}
